/**google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url(/assets/imagen/circuito-electrico-de-fondo-verde-2erpec2.jpg);
    background-size: cover;
}


header{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color:rgb(91, 255, 110);
    background-position: center;
    background-size: cover;
    position: fixed ;
    z-index: 1;
    top: 0;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 40px;
    cursor: pointer;
}

.nav-bar{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 60px;
    background: rgba(0, 0, 0, .90);
    text-align: center;
    transition: all .5s;
}

.nav-bar li{
    display: none;
    line-height: 50px;
    margin: 5px 0;
    transition: all .5s;
}

.nav-bar li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.nav-bar li a.active, .nav-bar li a:hover {
    transition: .3s;
    color: rgb(90, 96, 98);
}

#check{
    display: none;
}

#check:checked ~ .nav-bar {
    height: 50vh;
}

#check:checked~.nav-bar li{
    display: block;
}

@media screen and (min-width: 768px){
    nav{
        height: 60px;
    }
    .bar-btn{
        display: none;
    }
    .nav-bar{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        display: contents;
    }
    .nav-bar li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
        transition: none;
        
    }
    .nav-bar li a{
        font-size: 15px;
        text-decoration: none;
    }
}
/** seccion hero */
section#hero{
    background-image: url(/assets/imagen/imagendesarrollo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
}
#box-hero{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

h1#hero_title{
   font-size: 50px;
   font-weight: 700;
   color: lightgreen;
   text-shadow: 10px;

}

h2#hero_subtitle{
    color: darkseagreen;
    font-size: 20px;
    font-weight: 700;
}

.botonhero{
    color: white;
    font-size: 20px;
    
    
}
a#boton-link{
    border: 2px black solid;
    border-radius: 50px;
    padding: 4px;
    background-color: aquamarine;
    text-decoration: none;
    font-weight: 700;
}
/**--------------------section info*/
section#info{
    padding: 5px;
}
section#info div.contenedor{
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px 15px;
        padding: 20px;
        background-color: rgba(33, 191, 99, 0.60);
        border-radius: 20px;
        flex-direction: column;
        align-content: center;
}
.col{
    flex: 1 0 0%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid ;
    border-radius: 30px;
    background-color: lavender;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row{
    align-content: center;
    align-items: center;
    flex-direction: row;
}

div.row-tarj{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

div.col-5{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

img.img-fluid{
    border-radius: 50%;
}

div.col-7{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

h3{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
h3.titulo{
    padding-top: 20px;
    font-weight: 700;
    font-size: 40px;
    text-decoration-line: underline;
}

p{
    margin-left: 30px;
    margin-right: 15px;
}
div.tarj-exp h4{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 12px;
}

/**--------------section experiencia*/
section#experience div.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 20px;
    background-color: rgb(33, 191, 99, 0.60);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    
}
.tarj-exp{
    background-color: rgb(16, 69, 38);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.row-exp{
    text-align: center;
}
div.text-exp{
    padding: 5px 25px;
}
p.parr-exp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}
/**----seccion habilidades---- */
section#habilities {
    padding: 5px;
    display: flex;
    justify-content: center;
}

section#habilities div.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 20px;
    background-color: rgb(33, 191, 99, 0.60);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    width: 80%;
}
div.contenedor-row-hab {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(247, 245, 103, 0.23);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
div.row-hab{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 34px;
    color: darkslategrey;
}
div.contenedor-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
div.contenedor-radio{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
div.radio{
    height: 15px;
    width: 15px;
    border: 2px solid black;
    margin: 5px 10px;

}
div.radio-b{
    height: 15px;
    width: 15px;
    border: 2px solid black;
    margin: 5px 10px;
     background-color: black;
}
span.sub-title-hab{
    text-align: center;
}

/** porcentaje de habilidades */

div#tech.contenedor-row-hab :not(:last-child){
    margin-bottom: 10px;
}
.hab-bar {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
    height: 12px;
    background-color: antiquewhite;
}

.hab-bar div{
    
    position: relative;
    width: 0px;
    height: 8px;
    border-radius: 20px;
    background-color: cyan;
}
/** animacion*/
#html-barra{
    animation: html-barra 5s forwards;
}
@keyframes html-barra{
    100%{
        width: 70%;
    }
}
#css-barra{
    animation: css-barra 5s forwards;
}
@keyframes css-barra {
    100% {
        width: 45%;
    }
}
#js-barra{
    animation: js-barra 5s forwards;
}
@keyframes js-barra {
    100% {
        width: 30%;
    }
}
#ms-barra{
    animation: ms-barra 5s forwards;
}
@keyframes ms-barra{
    100%{
        width: 80%;
    }
}
#foto-barra{
    animation: foto-barra 5s forwards;
}
@keyframes foto-barra {
    100% {
        width: 60%;
    }
}
#ilu-barra {
    animation: ilu-barra 5s forwards;
}

@keyframes ilu-barra {
    100% {
        width: 30%;
    }
}
#after-barra {
    animation: after-barra 5s forwards;
}

@keyframes after-barra {
    100% {
        width: 50%;
    }
}

h4.sub-title-tech{
    padding-top: 20px;
    color: rgba(18, 18, 18, 0.995);
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}

/** seccion contacto*/

section#contact{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;
    position: relative;
}
section#contact div.contenedor{
    width: 70%;
    display: contents;
    align-content: center;
    
}
section#contact div.contenedor div{
        display: flex;
            justify-content: center;
            width: 80%;
            max-width: 100%;
            margin: auto;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;

}
section#contact div.contenedor div form *{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
h3#title-contact{
    color: #6bddef;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 1px;
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
form div.fila{
    display: flex;
    align-items: center;
}
button{
    width: 50%;
    align-items: center;
    background-color: #6befe479;
    text-transform: uppercase;
}
button#button-gracias{
    position: absolute;
    bottom: 20px;
    left: 25%;
    z-index: 1;
}
p#gracias{
    position: absolute;
    bottom: 60px;
    z-index: 1;
    font-size: 40px;
    color: salmon;
     font-weight: 700;
    letter-spacing: 12px;
    text-align: center;
    width: 95%;
}

div.wave{
    position: relative;
}